## MixMaxScaller

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("loan-clean.csv")
df.head()

,Unnamed: 0,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Income
0,0,LP001002,Male,No,0,Graduate,No,5849,0.0,137.0,360.0,1.0,Urban,Y,5849.0
1,1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,6091.0
2,2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,3000.0
3,3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,4941.0
4,4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,6000.0

In [8]:
class MinMaxScaler:
    def __init__(self, feature_range=(0, 1), clip=False):
        self.minmax = {}
        self.clip = clip
        self.feature_range = feature_range

    def fit(self, x):
        for col in x.columns:
            self.minmax[col] = {"min": x[col].min(),
                                "max": x[col].max()}
            
    def transform(self, z):
        x = z.copy()
        for col in x.columns:
            # results are between 0 and 1
            x[col] = (x[col] - self.minmax[col]["min"]) / (self.minmax[col]["max"] - self.minmax[col]["min"])
            
            # transform between feature_range[0], feature_range[1]
            x[col] = x[col] * (self.feature_range[1] - self.feature_range[0]) + self.feature_range[0]

            # clipping if clip = True
            if self.clip:
                x[col] = np.where(x[col] < self.feature_range[0], self.feature_range[0], x[col])
                x[col] = np.where(x[col] > self.feature_range[1], self.feature_range[1], x[col])
        return x

    def fit_transform(self, x):
        self.fit(x)
        return self.transform(x)

    def inverse_transform(self, y):
        pass

In [9]:
scaler = MinMaxScaler()
scaler.fit(df[["ApplicantIncome","CoapplicantIncome"]])
scaler.minmax

{'ApplicantIncome': {'min': 150, 'max': 81000},
 'CoapplicantIncome': {'min': 0.0, 'max': 33837.0}}

In [10]:
scaler.transform(df[["ApplicantIncome","CoapplicantIncome"]])

     ApplicantIncome  CoapplicantIncome
0           0.070489           0.000000
1           0.054830           0.044567
2           0.035250           0.000000
3           0.030093           0.069687
4           0.072356           0.000000
..               ...                ...
553         0.034014           0.000000
554         0.048930           0.000000
555         0.097984           0.007093
556         0.091936           0.000000
557         0.054830           0.000000

[558 rows x 2 columns]